/* You can add global styles to this file, and also import other style files */
@use './custom-theme.scss';

html,
body {
    min-height: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    ::selection {
        background-color: #d4ff00;
        color: #000;
    }
}

.main {
    position: relative;
    padding-bottom: 200px;
}

footer {
    z-index: 9;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #FFF;
    height: 100px;
    //text-align: center;
    line-height: 100px;

    .img {
        margin: 15px;
    }
}

.btn {
    margin: 15px;
}

.bg-login {
    background-color: #000;
    background-image: url("../src/assets/dexian-disys-logo-620x275.png");
}

.logo {
    border-radius: 20px;
    background-image: url("../src/assets/dexian-logo-720x720.jpeg");
}