/* You can add global styles to this file, and also import other style files */
@use './custom-theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
    margin: 15px;
}

.bg-login {
    background-color: #000;
    background-image: url("../src/assets/dexian-disys-logo-620x275.png");
}

.logo {
    border-radius: 20px;
    background-image: url("../src/assets/dexian-logo-720x720.jpeg");
}