<mat-toolbar>
  <mat-toolbar-row>
    <span>Dexian</span>
    <span class="spacer"></span>
    <button type="button" mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="menu"
      aria-label="icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button type="button" mat-menu-item color="danger" (click)="logout()">
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
  <mat-tab label="Alunos">
    <div class="container">
      <button mat-flat-button color="primary" type="button" class="btn"
        (click)="addData()">Adicionar</button>
      <app-aluno-lista></app-aluno-lista>
    </div>
  </mat-tab>
  <mat-tab label="Escolas"> Escola </mat-tab>
</mat-tab-group>