<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <mat-text-column name="Codigo"></mat-text-column>
  <mat-text-column name="Nome"></mat-text-column>
  <mat-text-column name="Nascimento"></mat-text-column>
  <mat-text-column name="Cpf"></mat-text-column>
  <mat-text-column name="Endereco"></mat-text-column>
  <mat-text-column name="Celular"></mat-text-column>
  <mat-text-column name="Acao"></mat-text-column>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>