<article>
  <div class="container">
    <div class="child">
      <div class="container">
        <img class="logo" alt="logo-dexian" src="./../../../assets/dexian-logo-720x720.jpeg" width="100" />
      </div>
      <form>
        <h1>Login</h1>
        <div class="container">
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Digite seu e-mail" [formControl]="email" (blur)="updateErrorMessage()"
              required>
            @if (email.invalid) {
            <mat-error>{{errorMessage}}</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="container">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" type="password" [formControl]="senha" required>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" type="submit" (click)="login()">Continuar</button>
      </form>
    </div>
  </div>
</article>