<form formGroup="alunoForm" (ngSubmit)="submit()">

  <div class="">
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput id="nome" type="text" class="form-control text-dark" formControlName="nome"
        placeholder="Insira o nome!" required />
    </mat-form-field>
  </div>

  <div class="">
    <mat-form-field>
      <mat-label>Sobrenome:</mat-label>
      <input matInput id="sobrenome" type="text" class="form-control text-dark" formControlName="sobrenome"
        placeholder="Insira o sobrenome!" required />
    </mat-form-field>
  </div>

  <div class="">
    <button type="submit" [disabled]="!alunoForm.valid" mat-raised-button color="accent">
      {{ btnAcao }}
    </button>
    <button type="button" routerLink="" mat-raised-button>
      Voltar
    </button>
  </div>
</form>